@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Leckerli+One&display=swap');

html, body {
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    display: flex; /* Utilise Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

#spa {
    color: initial; /* Remplacez par la couleur souhaitée */
    text-decoration: none; /* Supprime le soulignement */
}

#spa :visited {
    color: initial; /* Couleur des liens déjà visités */
}

#spa :active {
    color: initial; /* Couleur des liens pendant le clic */
}

/* Styles communs pour #register et #login */
#register,
#resetPassword,
#login {
    background-color: #f9f9f9; /* Couleur de fond */
    padding: 20px;            /* Espacement intérieur */
    border-radius: 8px;      /* Coins arrondis */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px; /* Ombre autour */
    max-width: 400px;        /* Largeur maximale */
    margin: auto;            /* Centrer le conteneur */
    width: 60%;
}

#resetPassword{
    width: fit-content;
}

#register h1,
#resetPassword h1,
#login h1 {
    color: #333;             /* Couleur du texte */
	font-size: 50px; /* Taille minimale 1.5rem, maximum 3rem, et dynamique entre les deux */
    margin-bottom: 50px;    /* Marge inférieure */
    text-align: center;      /* Centre le texte */
    font-family: "Leckerli One", cursive; /* Utiliser la police importée */
    font-weight: 700;
}

/* Styles communs pour les étiquettes */
#register label,
#resetPassword label,
#login label {
    display: block;          /* Chaque étiquette sur une nouvelle ligne */
    margin-bottom: 8px;     /* Marge inférieure */
    color: #555;             /* Couleur du texte */
}

/* Styles communs pour les inputs */
#register input,
#resetPassword input,
#login input {
    width: 100%;            /* Prendre toute la largeur du conteneur */
    padding: 10px;          /* Espacement intérieur */
    margin-bottom: 20px;    /* Marge inférieure */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 4px;     /* Coins arrondis */
    box-sizing: border-box;  /* Inclure padding et border dans la largeur */
}

/* Styles communs pour les boutons */
#register button,
#resetPassword button,
#login button {
    background: linear-gradient(152deg, rgb(253, 29, 104) 25%, rgba(252,176,69,1) 90%);
    color: white;               /* Couleur du texte du bouton */
    padding: 10px 15px;        /* Espacement intérieur */
    border: none;              /* Pas de bordure */
    border-radius: 4px;        /* Coins arrondis */
    cursor: pointer;            /* Curseur pointeur */
    width: 100%;
    transition-duration: 0.3s; /* Durée de la transition */
}

#register button:hover,
#resetPassword button:hover,
#login button:hover {
    background: linear-gradient(152deg, rgb(253, 0, 84) 25%, rgb(244, 149, 17) 90%);
}

/* Styles pour les paragraphes */
#register p,
#resetPassword p,
#login p {
    text-align: left; /* Centre le texte du paragraphe */
	font-size: 12px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Styles pour les liens dans les paragraphes */
#register p a,
#resetPassword p a,
#login p a {
    font-family: "Lato", sans-serif; /* Police de caractères pour le lien */
    font-weight: 900; /* Poids de la police pour le lien */
    font-style: normal; /* Style normal pour le lien */
    color: #ff0059; /* Couleur par défaut pour le lien, vous pouvez changer si nécessaire */
    text-decoration: none; /* Supprime le soulignement du lien */
}

#register p a:hover,
#resetPassword p a:hover,
#login p a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}
